.App {
  text-align: center;
  background-color: #1C1C1C;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1C1C1C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  height: 40px;
  width: 100%;
}


.background-darkgrey {
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #4B4B4B;
}

.container {
  background-color: #1C1C1C;
  margin: 0 auto;
}


.social-navbar {
  height: 100px;
  margin: 80px 50px;
  padding: 0px 10px;
}

.text-white {
  color: white;
}

.text-teal {
  color: #44D7B6;
}

.nav-link a:hover{
  color: #44D7B6;
  font-weight: 400;
}

html, body {
  height:100%;
  margin: 0;
  background-color: #4B4B4B;
} 

.footer {
  border-top: solid 1px #44D7B6;
  padding-bottom: 20px;
}

.bg-color-test {
  //background-color: red;
}

.bg-color-test1 {
  background-color: orange;
}

.teal {
  color: #44D786;
}

.center {
  text-align: center;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  max-width: 400px;
}

#triangle-topright {
  width: 0;
  height: 0;
  border-top: 150px solid  #44D7B6;
  border-left: 150px solid
  ;
  border-top-right-radius: 10px;
}

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 150px solid  #44D7B6;
  border-right: 150px solid;
  border-top-left-radius: 10px;
}

#triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 150px solid #44D7B6;
  border-right: 150px solid;
  border-bottom-left-radius: 10px;
}

#triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 150px solid  #44D7B6;
  border-left: 150px solid;
  display: flex;
  align-items: right;
  border-bottom-right-radius: 10px;
}

.float-me {
  float: left;
}







